@using WAI.Checklist.Models


<article>
    <h2>WAI 2.1 Checklist: </h2>
    <label for="checklist-name">Name</label>
    <input id="checklist-name" type="text" />

    <EditForm EditContext="new EditContext(SelectedLevel)">

        <InputRadioGroup TValue="Level" Name="Conformance level" @bind-Value="SelectedLevel">
            <fieldset>
                <legend>Conformance level:</legend>
                <label for="level-A">A</label>
                <InputRadio id="level-A" TValue="Level" Name="Conformance level" Value="Level.A" />

                <label for="level-AA">AA</label>
                <InputRadio id="level-AA" TValue="Level" Name="Conformance level" Value="Level.AA" />

                <label for="level-AAA">AAA</label>
                <InputRadio id="level-AAA" TValue="Level" Name="Conformance level" Value="Level.AAA" />
            </fieldset>
        </InputRadioGroup>
        <button @onclick="HandleConformanceButtonClickAsync">Choose conformance</button>

    </EditForm>
    <hr />

    @if (Items is not null)
    {
        @for (int i = 0; i < Items!.Count; i++)
        {
            <section>
                <h3>@Sections[i]</h3>
                <hr />
                <ul>
                    @foreach (ChecklistItem item in Items[i])
                    {
                        <li>

                            <b>@item.Id</b>
                            <input id="@item.Id" type="checkbox" />
                            <label for="@item.Id">@item.Name <b>level-@item.Level</b></label>


                            <a href="@item.Uri" title="@item.Id @item.Name WAI 2.1">detail</a>
                        </li>
                    }
                </ul>
            </section>
        }
    }
</article>
